{% extends 'notes/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="sticky-note w-100">
                <h2 class="note-title">{% if form.instance.pk %}Edit{% else %}New{% endif %} Note</h2>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="{% url 'note_list' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}